<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Homework #2</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <canvas id="canvas1" width="500" height="500" style="display:none;">
    </canvas>
    <div class="center">
      <input type="file" id="file" name="file"/>
    </div>
    <div id="options">
      <hr>
      <button id="negative" type="button">Negative</button>
      <button id="rotate90CW" type="button">Rotate 90 CW</button>
      <button id="rotate180" type="button">Rotate 180</button>
      <button id="rotate270CW" type="button">Rotate 270 CW</button>
      <button id="rotate90CCW" type="button">Rotate 90 CCW</button>
      <button id="rotate270CCW" type="button">Rotate 270 CCW</button>
      <button id="horizontalFlip" type="button">Flip Horizontal</button>
      <button id="verticalFlip" type="button">Flip Vertical</button>
      <div>
        <label> Brightness</label>
        <input id="brightness" type="number" max="255" min="-255">
        <button id="brightnessBtn">Apply</button>
      </div>
      <div>
        <label> Contrast</label>
        <input id="contrast" type="number" max="255" min="-255">
        <button id="contrastBtn">Apply</button>
      </div>
      <div>
        <button id="equalization">Equalization</button>
      </div>
      <div>
        <label> Min value</label>
        <input id="minValueUmbral" type="number" max="255" min="0">
        <label> Max value</label>
        <input id="maxValueUmbral" type="number" max="255" min="0" value="255">
        <button id="umbralization">Umbralization</button>
      </div>
      <div>
        <button id="save"> Save file</button>
      </div>
      <h3>Informacion Relevante</h3>
      <table>
        <tr>
          <td>Width</td>
          <td id ="width"></td>
        </tr>
        <tr>
          <td>Height</td>
          <td id="height"></td>
        </tr>
        <tr>
          <td>Profundidad de Bits</td>
          <td id="bitsDepth"></td>
        </tr>
        <tr>
          <td>Size in MB</td>
          <td id="size"></td>
        </tr>
      </table>
      <h3>Histogram</h3>
      <canvas id="histogram_r" width="258" height="102"></canvas>
      <canvas id="histogram_g" width="258" height="102"></canvas>
      <canvas id="histogram_b" width="258" height="102"></canvas>
      <canvas id="histogram_avg" width="258" height="102"></canvas>
    </div>
    <script>
    if (!(window.File && window.FileReader && window.FileList && window.Blob)) {
      alert('The File APIs are not fully supported in this browser.');
    }
    </script>
    <script src="../../lib/FileSaver.min.js"></script>
    <script data-main="../../build/main.js" src="../../lib/require.js"></script>


  </body>
</html>
