canvas {
  margin: 0 auto;
}

.center {
  margin-top: 0.4em;
  text-align: center;
}

#options {
  display: none;
}

#histogram_r, #histogram_g, #histogram_b,#histogram_avg {
  display: block;
  padding: 1px;
  border: 1px solid;
}
